@charset "UTF-8";

body {
	background-color: gray;
}

form {
	background: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
    border: 2px solid rgb(255, 128, 64);
    border-radius: 15px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=number] {
    width: 50px;
    padding: 10px 10px;
    margin: 10px;
}


button {
    background-color: #804040;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

button:hover {
    background-color: #ff8040;
}

.container {
    padding: 16px;
}

.line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.error {
    color: red;
}